@font-face {
  font-family: 'eglantine';
  src: url("../../fonts/eglantine/eglantine.ttf") format("truetype"), url("../../fonts/eglantine/eglantine.woff") format("woff");
}
@font-face {
  font-family: 'clemente';
  src: url("../../fonts/ClementePDae-Light.ttf") format("truetype");
}

*{
  box-sizing: border-box;

  /* Use this to prevent overflow of my hyperlinks.
    The properties are technically the same, but
    different browsers support different ones. */

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.float-right{
  float: right;
}

.no-padding, .no-margin, p{
  padding: 0;
  margin: 0;
}

.center-text{
  text-align: center;
}

body, html, main, div{
  height: 100%;
  width: 100%;
}

main{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
  "nav container"
  "foot foot";
}

/* Navigation Menu */
.navigation{
  height: 100%;
  background-color: #FFD3B5;
  grid-area: nav;
}

ul{
  list-style: none;
  line-height: 6em;
  text-align: center;
  position: relative;
  top: 30%;
  font-family: clemente;
}

li{
  border-bottom: 1px solid black;
  box-shadow: 2px 2px 5px #A8E6CE;
}
/* Container */
.container{
  height: 100%;
  background: linear-gradient(to bottom right, #A8E6CE, #DCEDC2, #FFD3B5, #FFAAA6, #FF8C94);
  grid-area: container;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: clemente;
}

.container > *{
  width: 70%;
}
/*  header */

h1{
  font-family: eglantine;
  font-size: 5vmin;
  font-weight: normal;
}
h3{
  font-size: 2vmin;
  font-weight: normal;
  clear: both;
}

.logo{
  width: 150px;
  height: 150px;
}

/* Main Image */

.main-image{
  width: 100%;
  height: auto;
}

/* Featured Work */
h2{
  font-size: 3vmax;
  font-weight: normal;
  margin-bottom: 0;
}

.feature-work{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image{
  width: 220px;
  height: 175px;
}

.footer{
  background-color: #FF8C94;
  grid-area: foot;
}

.icon{
  width: 42px;
  height: 42px;
  padding: 4px;
}
